<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek - Pending Tasks</title>

    <!-- Bootstrap CSS --->
    <link
            rel="stylesheet"
            href="assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/libs/css/style.css" />
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/charts/chartist-bundle/chartist.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/charts/morris-bundle/morris.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css" />
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css"
    />

</head>
<body>

<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="https://www.cybertekschool.com/"
            >Cybertek</a
            >
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a
                                class="nav-link nav-user-img"
                                href="#"
                                id="navbarDropdownMenuLink2"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        ><img
                                src="assets/images/avatar-1.jpg"
                                alt=""
                                class="user-avatar-md rounded-circle"
                        /></a>
                        <div
                                class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2"
                        >
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">#Name</h5>
                            </div>
                            <a class="dropdown-item" href="#"
                            ><i class="fas fa-user mr-2"></i>Account</a
                            >
                            <a class="dropdown-item" href="#"
                            ><i class="fas fa-power-off mr-2"></i>Logout</a
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Build Left side menu items here-->

                    <ul class="navbar-nav flex-column">

                        <!-- Administration Button -->
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    href="#"
                                    data-toggle="collapse"
                                    aria-expanded="false"
                                    data-target="#submenu-1-1"
                                    aria-controls="submenu-1-1"
                            ><i class="fa fa-fw fa-user-circle"></i>Administration</a
                            >

                            <div id="submenu-1-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="create_user.html"
                                        >Create User</a
                                        >
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="create_project.html"
                                        >Create Project</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Manager Button -->
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    href="#"
                                    data-toggle="collapse"
                                    aria-expanded="false"
                                    data-target="#submenu-1-2"
                                    aria-controls="submenu-1-2"
                            >Manager</a
                            >

                            <div id="submenu-1-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="assign_task.html"
                                        >Assign Task</a
                                        >
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="project_status.html"
                                        >Project Status</a
                                        >
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <!-- Employee Button -->
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    href="#"
                                    data-toggle="collapse"
                                    aria-expanded="false"
                                    data-target="#submenu-1-3"
                                    aria-controls="submenu-1-3"
                            >Employee</a
                            >

                            <div id="submenu-1-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pending_tasks.html"
                                        >Pending Tasks</a
                                        >
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="archive.html"
                                        >Archive</a
                                        >
                                    </li>
                                </ul>
                            </div>

                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                        <h2>Task Status</h2>
                    </div>
                </div>


                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->


                <form>

                    <div class="form-group">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                <label>Project</label>
                                <select class="form-control">
                                    <option selected disabled>Select</option>
                                    <option>PRJ001-Human Resource CRM</option>
                                    <option>PRJ002-Infra Upgrade</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                <label>Assigned Employee</label>
                                <select class="form-control">
                                    <option selected disabled>Select</option>
                                    <option>John Kesy</option>
                                    <option>Delisa Norre</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                <label>Task Subject</label>
                                <input type="text" class="form-control" id="assignedEmployee" placeholder=""
                                       required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                <label>Details</label>
                                <textarea required="" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                <label>Status</label>
                                <select class="form-control">
                                    <option selected disabled>Select</option>
                                    <option>In Progress</option>
                                    <option>Open</option>
                                    <option>Completed</option>
                                </select>
                                <br>
                                <div class="float-right">
                                    <button href="#" class="btn btn-success" type="submit">Save</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>


                <!-- PROJECT LIST TABLE -->

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <div class="card">
                            <h3 class="card-header">Task List</h3>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Project</th>
                                        <th scope="col">Task Subject</th>
                                        <th scope="col">Assigned Employee</th>
                                        <th scope="col">Assigned Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">PRJ001-Human Resource CRM</th>
                                        <td>Database Connection</td>
                                        <td>John Kesy</td>
                                        <td>11.03.2020 - 11.09.2020</td>
                                        <td>In Progress</td>
                                        <td>
                                            <div align="left">
                                                <button href="#" class="btn btn-warning" type="submit">Update</button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">PRJ002-Infra Upgrade</th>
                                        <td>Server LAN Settings</td>
                                        <td>Delisa Norre</td>
                                        <td>11.03.2020 - 11.09.2020</td>
                                        <td>UAT Testing</td>
                                        <td>
                                            <div align="left">
                                                <button href="#" class="btn btn-warning" type="submit">Update</button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">PRJ003-Human Resource CRM</th>
                                        <td>Server LAN Settings</td>
                                        <td>Delisa Norre</td>
                                        <td>11.03.2020 - 11.09.2020</td>
                                        <td>Completed</td>
                                        <td>
                                            <div align="left">
                                                <button href="#" class="btn btn-warning" type="submit">Update</button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">PRJ002-Infra Upgrade</th>
                                        <td>Server LAN Settings</td>
                                        <td>John Kesy</td>
                                        <td>11.03.2020 - 11.09.2020</td>
                                        <td>Open</td>
                                        <td>
                                            <div align="left">
                                                <button href="#" class="btn btn-warning" type="submit">Update</button>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>




            </div>
        </div>
        <!-- ============================================================== -->

        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->

    <div class="" align="center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    © 2020 Cybertek - All Rights Reserved
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="assets/libs/js/dashboard-ecommerce.js"></script>

</body>
</html>